{% extends 'base_header_footer.html' %}
{% block body %}
<!-- ======= Header ======= -->
<div id="main_contenue" class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header mt-3">
      <a href="{{url_for( 'Usinage')}}" class="logo me-auto"><img
          src="{{ url_for('static', filename= 'img/logo/logo.png') }}" alt="speed logo" style="width: 200px;"></a>
    </div>
 
    <ul class="list-unstyled  mt-5">
      {% if user.role_id==1 or user.role_id==2  or 1 ==1 %}
      <li class="active mt-5">
        <a href="{{url_for( 'Usinage')}}">Simulation</a>
      </li class=" mt-1">
      {% endif %}
      <li class="mt-1">
        <a href="{{url_for( 'en_attente')}}">En attents</a>
      </li class=" mt-1">
      <li>
        <a href="{{url_for( 'confirmé')}}">Confirmés</a>
      </li>
      <li class=" mt-1">
        <a href="{{url_for('usiné')}}">Usinés</a>
      </li>
      <li class=" mt-1">
        <a href="{{url_for('livré')}}">Livrés</a>
      </li>
      <li class=" mt-1">
        <a href="{{url_for('membres')}}">Membres</a>
      </li>
      <li class=" mt-1">
        <a href="{{url_for('prix')}}">Prix</a>
      </li>
      <li class=" mt-1">
        <a href="{{url_for('clients')}}">Clients</a>
      </li>
    </ul>

    <footer style="bottom: 5px; position: absolute; width: 100%;">
      <p class="text-center">creted by <strong style="color: aquamarine;">Arman</strong></p>
    </footer>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>

        </button>
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button> -->
        <div class="row height d-flex justify-content-center align-items-center" style="width: 70%;">

          <div class="col-md-8">
            {% block search %}

            {% endblock %}


          </div>

        </div>
        <div class=" " id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto ">

            <li class="nav-item active d-inline-block">
              <a href="{{ url_for('logout') }}">Deconnexion</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
    <div id="main_container" class="p-2">

      {% block contenue %}

      {% endblock %}
    </div>

  </div>
</div>




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

{% endblock %}