{% extends 'base_header_footer.html' %}
{% block body %}

<!-- ======= Header ======= -->
<div id="main_contenue" class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header mt-3">
      <a href="{{url_for( 'Simulation')}}" class="logo me-auto"><img
          src="{{ url_for('static', filename= 'img/logo/logo.png') }}" alt="speed logo" style="width: 200px;"></a>
    </div>

    <ul class="list-unstyled  mt-5">
      {% if current_user_role =="comercial" %}
   
        {% if page == "Simulation" %}
          <li class="mt-1 active">
        {% else %}
          <li class="mt-1">
        {% endif %}
    
    
        <a href="{{url_for( 'Simulation')}}">Simulation</a>
        </li class=" mt-1">
      {% endif %}
      {% if page == "attents" %}
      <li class="mt-1 active">
      {% else %}
      <li class="mt-1">
      {% endif %}
      <a href="{{url_for( 'en_attente')}}">En attents</a>
      </li class=" mt-1">
      {% if page == "Confirmés" %}
      <li class="mt-1 active">
      {% else %}
      <li class="mt-1">
      {% endif %}
      <a href="{{url_for( 'confirme')}}">Confirmés</a>
      </li>
      {% if page == "Usinés" %}
      <li class="mt-1 active">
      {% else %}
      <li class="mt-1">
      {% endif %}
      <a href="{{url_for('usiner')}}">Usinés</a>
      </li>
      {% if page == "Livrés" %}
      <li class="mt-1 active">
      {% else %}
      <li class="mt-1">
      {% endif %}
      <a href="{{url_for('livrer')}}">Livrés</a>
      </li>
      {% if current_user_role =="admin"  or current_user_role =="responsable"  %}
      {% if page == "Tableaux" %}
      <li class=" dropdown mt-1 active">
        <a class="btn dropdown-toggle" role="button" id="AdminLink" data-bs-toggle="dropdown" aria-expanded="false"
          style="color: blueviolet;">
          Tableaux
        </a>

        <ul class="dropdown-menu" aria-labelledby="AdminLink">
          <li><a class="dropdown-item" href="{{url_for('membres')}}">Membres</a></li>
          <li><a class="dropdown-item" href="{{url_for('clients')}}">Client</a></li>
          <li><a class="dropdown-item" href="{{url_for('prix')}}">Prix</a></li>
        </ul>
      </li>
      {% else %}
      <li class="dropdown">
        <a class="btn dropdown-toggle text-start" href="#" role="button" id="AdminLink" data-bs-toggle="dropdown"
          aria-expanded="false" style="color: blueviolet;">
          Tableaux
        </a>

        <ul class="dropdown-menu" aria-labelledby="AdminLink">
          <li><a class="dropdown-item" href="{{url_for('membres')}}">Membres</a></li>
          <li><a class="dropdown-item" href="{{url_for('clients')}}">Clients</a></li>
          <li><a class="dropdown-item" href="{{url_for('prix')}}">Prix</a></li>
        </ul>
      </li>

      {% endif %}

      {% endif %}
    </ul>

    <footer style="bottom: 5px; position: absolute; width: 100%;">
      <p class="text-center">copyright © <strong style="color: aquamarine;">SPEED</strong></p>
    </footer>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>

        </button>
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button> -->
        <div class="row d-flex justify-content-center align-items-center" style="width: 60%;">

          <div class="col-md-8">
            {% block search %}

            {% endblock %}
          </div>

        </div>
        <div >
          <ul class="nav navbar-nav ml-auto ">

            <li class="nav-item active d-inline-block">
              <a id="logout_link" href="{{ url_for('logout') }}">Deconnexion</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div id="main_container" class="p-2">

      {% block contenue %}

      {% endblock %}
    </div>

  </div>
</div>




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

{% endblock %}