{% extends 'base.html' %}
{% block search %}
<div class="form d-flex">
  <i class="fa fa-search"></i>
  <input type="text" class="form-control form-input" placeholder="Search anything...">
</div>
{% endblock %}
{% block contenue %}
<!-- <table class="table table-bordered" style="margin-top: 200px;">
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col">Nom client </th>
        <th scope="col">Matiere</th>
        <th scope="col">Type</th>
        <th scope="col">Epaisseur</th>
        <th scope="col">Decoupe</th>
        <th scope="col">Qte</th>
        <th scope="col">Prix matiere</th>
        <th scope="col">Prix_limeaire</th>
        <th scope="col">Date d'envoi</th>
        <th scope="col">date de livraison</th>
        <th scope="col">DXF</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}

        <tr>
            <th scope="row">1</th>
            <td >{{item[6]}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[9]}}</td>
            <td>{{item[8]}}</td>
            <td>{{item[10]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[11]}}</td>
            <td>
                <button onclick="confirmation('{{item[12]}}')">voir+</button>
               
            </td>
          </tr>
        {% endfor %}
      
    </tbody>
  </table> -->
<div class="commande_main">

  <div class="commande_div">
    <div class="commande_div_head">
      <div class="title"> My commandes </div>
      <div class="icon_bubble msg"> </div>
    </div>
    <div class="divider"> </div>
    <div class="commande_div_body">
      <ul style="list-style: none;">
        {% for item in data %}
        <!-- {{item[6]}}
                  {{item[0]}}
                  {{item[1]}}
                  {{item[9]}}
                  {{item[8]}}
                  {{item[10]}}
                  {{item[2]}}
                  {{item[3]}}
                  {{item[4]}}
                  {{item[5]}}
                  {{item[11]}}
                 -->
                
        <li value={{item[12]}} class="commande_li">
          <a href="{{ url_for('confirmé_detailles', id=item[12] ) }}">
            <div class="commande">
              <div class=" commande_avatar border border-success rounded-circle" style="background-color: #cde2ef">
                {% if item[14][0] == 'E' %}
                    <h4 class="text-center text-success">{{item[14][0]}}</h4>
                {% elif condition == 'C' %}
                <h4 class="text-center text-primary">{{item[14][0]}}</h4>
                {% else %}
                <h4 class="text-center text-dark text-success">{{item[14][0]}}</h4>
                {% endif %}
                
              </div>
              <!-- <img class="commande_avatar" src="https://randomuser.me/api/portraits/men/32.jpg"> -->
              <div class="commande_info d-flex justify-content-start">
                <div class="contact_name"> {{item[6]}}</div>
                <div class="contact_msg" style="margin-left: 20px;">{{item[8]}}:{{item[0]}} {{item[1]}} {{item[9]}} mm </div>
              </div>
              <div class="commande_status">
                <div class="commande_date">{{item[13]}}</div>
                <!-- <div class="commande_new grad_pb"> New </div> -->
              </div>
            </div>
          </a>
        </li>
        {% endfor %}




      </ul>





    </div> <!-- phonebody -->

    <!-- <div class="commande_div_footer">
            <div class="footer_divider grad_pb"> </div>
        </div>  -->

  </div>


</div>
{% endblock %}