{% extends 'base.html' %}


{% block contenue %}

<div id="usinage_container" class="container ">
    <div class="row mt-5">
        <div class="col-md-6">
            <div id="perso_detailles" class="row">
                <div class="row  ">
                    <div class="col col-md-4">
                        <h5>Représentant:</h5>
                    </div>
                    <div class="col-md-8">
                        <h5 class="text-info text-start"> {{data[15]}}</h5>
                    </div>
                </div>
            </div>
            {% if data[17] %}
            <div class="row border border-success mt-3" style="padding: 10px; border-radius: 5px;">
                <h3 class=" mt-4 text-center">Adresse de livraison</h3>
                <h5 class="mt-4 text-dark"><strong> {{data[5]}}</strong></h5>
                <div>
                    {% if current_user_role =="responsable" %}
                    <div>
                        <input type="text" class="text-center" value={{data[16]}}
                            style="width: 20%; border-radius: 1px;">
                        <input type="text" value='{{data[8]}}'>
                        <!-- <input type="text" value="AVENUE DE JAQUES" style="width: 70%;"> -->
                    </div>
                    <div class="mt-3">
                        <input type="text" class="text-center" value={{data[7]}}
                            style="width: 25%; border-radius: 1px;">
                        <input type="text" value='{{data[6]}}' style="width: 65%;">
                    </div>
                    {% else %}
                    <div>
                        <output type="text" class="text-center" value={{data[16]}}
                            style="width: 20%; border-radius: 1px;">{{data[16]}}</output>
                        <output type="text" value='{{data[8]}}'>{{data[8]}}</output>
                    </div>
                    <div class="mt-3">
                        <output type="text" class="text-center" value={{data[7]}}
                            style="width: 25%; border-radius: 1px;">{{data[7]}}</output>
                        <output="text" value='{{data[6]}}' style="width: 65%;">{{data[6]}}</output>
                    </div>
                    {% endif %}


                </div>

            </div>
            {% endif %}


            {% if data[18] %}
            <div class="row mt-4">
                <div class="col-md-3">
                    <button id="file_btn_attente" type="button"
                        class=" case_btn btn  active-case border  border-secondary  "
                        style="padding-left: 20px;padding-right: 20px"><i class="bi bi-folder fs-1"></i>
                        <p>Forme</p>
                    </button>

                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <span id="tcrg_dxf" onclick="telecharger_dxf('/static/{{path_folder}}', '{{data[13]}}')">Télécharger
                        le DXF <img src="{{ url_for('static', filename= 'img/logo/dxf_icon.jpg') }}"
                            style="width: 35px;" />
                    </span>
                </div>

            </div>
            {% else %}
            <div class="row mt-4">
                <div class="col-md-4">
                    <button id="txt_btn_attente" type="button"
                        class=" case_btn btn  active-case border  border-secondary">
                        <h1>T</h1>
                        <p>Texte</p>
                    </button>

                </div>
                <div class="col-md-6 ">
                    <h6>Police de caractère</h6>
                    <p><strong id=name_police>{{data[19]}}</strong></p>
                </div>

            </div>
            {% endif %}
            <section class="intro mt-4">
                <div class="bg-image h-100" style="background-color: #6095F0;">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                                        <div class="card-header">
                                            <h4 class="text-center">Commande detaillée</h4>
                                        </div>
                                        <div id='card_body_en_attente' class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">MATIERE</th>
                                                            <th scope="col">TYPE</th>
                                                            <th scope="col">EPAISSEUR</th>
                                                            <th scope="col">QTE</th>
                                                            <th scope="col">FIN</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <td id="matiere_detailles">{{data[0]}}</td>
                                                            <td id="matiere_type_detailles">{{data[1]}}</td>
                                                            <td id="epp_detailles">{{data[11]}} mm</td>
                                                            <td id="qte_detailles">{{data[12]}}</td>
                                                            <td class="d-flex justify-content-center align-content-center">
                                                                {% if current_user_role =="comercial" %}
                                                                <input type="date" value={{data[4]}}
                                                                    class="form-control" id="dateeInput" name="date">
                                                                {% else %}
                                                                <output type="date" value={{data[4]}}
                                                                    class="form-control" id="dateOutput" name="date">{{data[4]}}</output>
                                                                {% endif %}


                                                            </td>
                                                        </tr>

                                                        <!-- <tr>
                                      <th scope="row">
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" checked/>
                                        </div>
                                      </th>
                                      <td>Charde Marshall</td>
                                      <td>Regional Director</td>
                                      <td>36</td>
                                      <td>San Francisco</td>
                                      <td>
                                        <button type="button" class="btn btn-danger btn-sm px-3">
                                          <i class="fas fa-times"></i>
                                        </button>
                                      </td>
                                    </tr> -->

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="total_prix_detaille"
                                                class=" mt-5  d-flex justify-content-between align-items-center">
                                                <div class="bg-light col-4">
                                                    <h5><strong>Total prix:</strong></h5>

                                                </div>
                                                <div
                                                    class=" col-4 bg-light d-flex flex-column align-items-center align-content-center">

                                                    <div>
                                                        <h6>HT</h6>
                                                    </div>
                                                    {% if current_user_role =="responsable" %}
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <input class="text-center" id="prix_detaille_ht"
                                                                value={{data[2]}}>
                                                            <span>€</span>
                                                        </div>
                                                    {% else %}
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <output class="text-center" id="prix_detaille_ht"
                                                                value={{data[2]}}>{{data[2]}}
                                                            <span>€</span></output>
                                                        </div>
                                                    {% endif %}


                                                </div>
                                                <div
                                                    class=" col-4 bg-light d-flex flex-column align-items-center align-content-center">

                                                    <div>
                                                        <h6>TTC</h6>
                                                    </div>

                                                    <div class="col-4 d-flex justify-content-center align-items-center"
                                                        style="width: 100%;">
                                                        <output class="text-center"
                                                            id="prix_detaille_ttc">{{data[2]*1.2}}<span>€</span></output>
                                                    </div>


                                                </div>

                                            </div>
                                            {% if data[21] is not none %}

                                            <div id="attents_detaille_prix_livr" class="row mt-4">
                                                <div class="col-3">
                                                    <p>Livraison TTC</p>
                                                </div>
                                                <div class="col-3">

                                                    <span><strong>{{data[21]}}</strong> €</span>
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <div>
                <label class="mt-3" for="qte"><strong>Qte</strong></label>
                <input id="qte" value=1 min="1">
            </div> -->

            <div id="prix_detailles" class="row   mt-3">

                <div class="accordion" id="accordionAttente">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseAttente" aria-expanded="false"
                                    aria-controls="collapseAttente">
                                    Commentaire
                                </button>
                            </h2>
                            <div id="collapseAttente" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionAttente">
                                <div class="accordion-body">
                                    <div>
                                        <div class="p-2 border-2 border-primary border-radius-2">
                                            <h4 class="text-success ">{{data[15]}}</h4>
                                            <textarea output="outputText" class="form-control" rows=5 wrap=on
                                                readonly>{{data[22]}}</textarea>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt-4">
                    <button class=" bg-primary">Telecharger le devis</button>
                </div> -->
            </div>
            {% if current_user_role =="responsable" %}

                <div id="drop-area-bl" class="mt-4">
                    <h3 class="drop-text">Glissez et déposez le BL </h3>
                    <input type="file" id="fileInputBl" accept=".pdf" />
                    <div id="result-container"></div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-6">
            {% if data[13] is not none %}

            <iframe class="img_usinage_attente_detaille mt-5"
                src="{{ url_for('static', filename= path_folder +'/IMG/'+data[13]+'.png') }}"></iframe>
            {% else %}
            
            <div id="text_div_attente_detaille">
                <h1 id="text_area" style="overflow-wrap:break-word;font-family: '{{ data[19] }}' "> {{data[20]}}</h1>
            </div>
            {% endif %}




        </div>



        <div id="envoi_div" class="container">

            <div class="mb-3">
                <label for="dateInput" class="form-label">Date de livraison:</label>
                <input type="date" class="form-control" id="dateInput" name="date">
            </div>
            <div class="mb-3">
                <select id="cient_select" class="form-select custom-select" aria-label="Default select example">
                    <!-- <option selected>Select une slient</option> -->
                    {% for item in clients %}

                    <option value='{{ item[1].id}}'>{{ item[2].name}}</option>
                    {% endfor %}

                </select>
            </div>

        </div>
        {{current_user_role}}
        {% if current_user_role =="responsable" %}
        <div class="d-flex justify-content-center align-items-center mt-5">
            <button type="button" class="btn btn-success" onclick="confirmation(' {{data[14]}}')">Confirmer</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;"
                onclick="supprimer_attente(' {{data[15]}}')">Suprimer</button>
        </div>

        {% endif %}

    </div>
</div>
{% endblock %}