{% extends 'base.html' %}
{% block search %}
<div class="form d-flex">
  <i class="fa fa-search"></i>
  <input id="search_en_attants" type="text" class="form-control form-input" placeholder="Rechercher...">
</div>
{% endblock %}
{% block contenue %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert" >
    {{ message }}
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  <div class="commande_main">

  <div class="commande_div">
    <div class="commande_div_head">
      <div class="title attents_title"> Des commandes en attente </div>
      <div class="icon_bubble msg"> </div>
    </div>
    <div class="divider"> </div>
    <div class="commande_div_body">
      <ul id="en_attents_list" style="list-style: none;">
        {% for item in data %}
        {{item[12]}}

        <li value={{item[12]}} class="commande_li">
          <a href="{{ url_for('en_attente_detailles', id=item[10] ) }}" onclick="setisvu()">
            <div class="commande">
              <div class=" commande_avatar border border-success rounded-circle" style="background-color: #cde2ef">
                <h5 class="text-center text-primary">{{item[11][0]}}</h5>
              </div>
              <!-- <img class="commande_avatar" src="https://randomuser.me/api/portraits/men/32.jpg"> -->
              <div class="commande_info d-flex justify-content-start">
                <div class="contact_name"> {{item[6]}}</div>
                <div class="contact_msg" style="margin-left: 10px;">{{item[4]}}:{{item[0]}} {{item[1]}} {{item[7]}} mm </div>
              </div>
              <div class="commande_status">
                <div class="commande_date">{{item[3]}}</div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>





    </div> <!-- phonebody -->

    <!-- <div class="commande_div_footer">
            <div class="footer_divider grad_pb"> </div>
        </div>  -->

  </div>


</div>
{% endblock %}