{% extends 'base.html' %}

{% block search %}
<div class="form d-flex">
  <i class="fa fa-search"></i>
  <input id="searche_commande_terminé" type="text" class="form-control form-input" placeholder="Commandes...">
</div>
{% endblock %}
{% block contenue %}

<section class="intro mt-4">
    <div class="bg-image h-100" style="background-color: #6095F0;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-header">
                                <h4 class="text-center">Commande detailles</h4>
                            </div>
                            <div class="card-body" style="width: 100%;">
                                <div class="table-responsive">
                                    <table id="historique_table"class="table table-borderless mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Représentant</th>
                                                <th scope="col">Client</th>
                                                <th scope="col">Total prix HT  </th>
                                                <th scope="col">Total prix TTC</th>
                                                <th scope="col">Date souhaitée</th>
                                                <th scope="col">Bon commande</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in data  %}
                                            <!-- {{item}} -->
                                            <tr >
                                                <td class="fin_command_representeur">{{item[13]}}</td>
                                                <td class="fin_command_client">{{item[5]}}</td>
                                               
                                                <td class="fin_command_prix_ht"><span class="prix_ht_value">{{item[2]}}</span>€</td>
                                                <td class="fin_command_prix_ttc"><span class="prix_ttc_value">{{1.2*item[2]}}</span> €</td>
                                                <td  class=" fin_command_fin_souhaite d-flex justify-content-center align-content-center">



                                                    <output class="form-control" type="date" value={{item[4]}}
                                                        name="dateOutput" id="dateOutputUsiné">{{item[4]}}</output>

                                                </td>
                                                <td>
                                                    
                                                    <span class="tcrg_bonne_commande_usiné" confirm onclick="telecharger_bc_fin('/static/members/{{item[14]}}/{{item[13]}}', '{{item[10]}}')"> <img
                                                        src="{{ url_for('static', filename= 'img/logo/icon_pdf.jpg') }}" alt="Logo de pdf"
                                                        style="width: 35px;" />
                                                </span>
                                                </td>
                                                <td>
                                                    <i   class="succes_icons bi bi-toggle2-on text-success " style="font-size: 25px;"></i>

                                                </td>
                                            </tr>
                                            
                                            {% endfor %}
                                           

                                            <!-- <tr>
                          <th scope="row">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" checked/>
                            </div>
                          </th>
                          <td>Charde Marshall</td>
                          <td>Regional Director</td>
                          <td>36</td>
                          <td>San Francisco</td>
                          <td>
                            <button type="button" class="btn btn-danger btn-sm px-3">
                              <i class="fas fa-times"></i>
                            </button>
                          </td>
                        </tr> -->

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}